.error {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error__code {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    color: #1D1F2C;
    margin-bottom: 16px;
}

.error__description {
    font-weight: 400;
    font-size: 18px;
    color: #777980;
    margin-bottom: 8px;
}

.error__advice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error__advice-title {
    font-weight: 500;
    font-size: 16px;
    color: #1D1F2C;
    margin-right: 4px;
}

.error__advice-link {
    font-weight: 600;
    font-size: 16px;
    color: #1D1F2C;
}