.section__login {
    width: 384px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2BB2FE;
    background-image: linear-gradient(180deg,#1D1F2C,#2BB2FE);
    box-shadow: 2px 2px 38px 8px #1D1F2C;
    border-radius: 8px;
    padding: 32px;
    margin: 100px;
}

.section__login>form {
    width: 100%;
    height: auto;
}

.login__heading {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.login__form:not(:last-of-type) {
    margin-bottom: 16px;
}

.login__form>label {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.login__form>input {
    width: 100%;
    outline: none;
    border: 1px solid #E0E2E7;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #1D1F2C;
    margin: 8px 0px;
    padding: 6px 12px;
}

.btn__login {
    width: 100%;
    height: auto;
    font-weight: 500;
    font-size: 14px;
    color: #1D1F2C;
    border: 1px solid #E0E2E7;
    border-radius: 4px;
    padding: 6px;
    transition: background-color 128ms linear, color 128ms linear;
    cursor: pointer;
}

.btn__login:hover {
    background-color: #1D1F2C;
    color: #E0E2E7;
}

.login__error {
    width: 100%;
    font-weight: 800;
    font-size: 14px;
    border: 1px solid #E0E2E7;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #EB3D4D;
    padding: 12px;
    margin: 8px 0px;
}