.statistic-block {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #E0E2E7;
    padding: 24px;
    border-radius: 8px;
}

.statistic-block__chart {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.statistic-block__chart canvas {
    width: 100% !important;
}

.statistic-block__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1D1F2C;
}

.statistic-block__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #777980;
}